.main_section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.users_container {
    width: 90%;
}

.item_user {
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;
    background-color: azure;
    margin: 10px;
    width: 100%;
}

.user_login {
    text-transform: capitalize;
    min-width: 150px;
    margin-right: 20px;
}

.user_image {
    width: 100px;
    height: 100px;
}

.link_user {
    min-width: 350px;
    margin-right: 20px;
}
